<!doctype html>
<html lang="en">
  <head>
    <!-- Title block allowing child pages to override -->
    <title>{% block title %}codestarter.io{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible&quot;">        
    <meta content="on" http-equiv="cleartype">
    <meta name="author" content="{% block author %}Matt Wisbey{% endblock %}">
    <meta name="description" content="{% block description %}A photography showcase for Jamie Andersen{% endblock %}">
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
    <!-- Styles -->
    {{ "style.css" | asset_url | stylesheet_tag }}
    {{ "http://basehold.it/32" | asset_url | stylesheet_tag }}
    {{ "//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css" | asset_url | stylesheet_tag }}
    {{ "//cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js" | asset_url | script_tag }}
    {{ "//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js" | asset_url | script_tag }}
    {{ "//cdnjs.cloudflare.com/ajax/libs/detectizr/1.5.0/detectizr.min.js" | asset_url | script_tag }}
    <!-- Style block allowing child pages to inject their own styles -->
    {% block styles %}{% endblock %}
  </head>
  <body>
    <!-- Include -->
    {% include "header" %}
    <!-- Content block, child page inject content -->
    {% block content %}{% endblock %}
    <!-- Script block allowing child pages to inject their own scripts -->
    {% include "footer" %}
    {% block scripts %}{% endblock %}
    {{ "http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" | asset_url | script_tag }}
    {{ "script.js" | asset_url | script_tag }}
</body>
</html>